<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EKWO</title>
  <meta name="description" content="EKWO, l'app au galop">
  <meta name="keywords" content="equitation, entrainements, entrainements d'équitation, galop, chevaux, soin des chevaux, application d'équitation, application pour s'occuper de ses chevaux">


  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="../../assets/stylesheets/styles-merged.css">
  <link rel="stylesheet" href="../../assets/stylesheets/style.css">
  <link rel="stylesheet" href="../../assets/stylesheets/style.min.css">
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">


    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="index.html" title="EKWO"><%= image_tag "Ekwo_Icon_Small.png"%></a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#" data-nav-section="home">Accueil</a></li>
            <li><a href="#" data-nav-section="features">Fonctionnalités</a></li>
            <li><a href="#" data-nav-section="pricing">Nos Formules</a></li>
            <li><a href="#" data-nav-section="contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="probootstrap-hero prohttp://localhost/probootstrap/frame/#featuresbootstrap-slant" style="background-image: url(<%= image_path 'background-image2.jpg'%>); background-position: 0px -10000px;" data-section="home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row intro-text">
          <div class="col-sm-12 col-md-12 text-center">
            <h1 class="probootstrap-heading probootstrap-animate">EKWO, l'application au galop</h1>
            <p class="probootstrap-animate white-text">Maintenant disponible sur votre mobile <br>Application créée et développée par la société Digitale Pourpre <br>
              <a href="https://dgpourpre.wixsite.com/digitalepourpre" target="_blank">En savoir plus</a> </p>

              <div class="AppStore">
                <a href="http://appstore.com/ekwo" target="_blank"><%= image_tag "appstore.png", height: 100, width: 300, alt: "appstore"%></a>

              </div>
              <div class="GoogleStore">
                <a href="https://play.google.com/store/apps/details?id=com.DigitalePourpre.ekwo" target="_blank"><%= image_tag "googleplay.png", height: 100, width: 300, alt: "Google Play"%></a>

              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="announcement">
        <div class="container">

          <div class="row">
            <h2 class="text-primary probootstrap-heading-2">Coming soon - Version 2.0</h2>
            <p>La Version 2 arrive bientôt! Vous aurez accès à plus de 50 nouveaux exercices en audio-guidage, même plus besoin de sortir le téléphone de votre poche! Egalement, une nouvelle catégorie d'entraînement est à venir, et la fonction randonnée sera améliorée. Ainsi que plein d'autre nouveautés!</p>
          </div>
        </div>
      </section>
      <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-4 text-center">
              <div class="probootstrap-service-item">
                <%= image_tag "CALENDRIER.jpg", alt: "Image Agenda"%>
                <h2>Calendrier</h2>
                <p>Enregistrez vos prévisions de randonnées, d'entraînements, ou de soins, et écrivez des notes pour vous rappeler de prendre un rendez-vous par exemple. Visualisation facile de vos obligations a venir dans le mois.</p>
              </div>
            </div>

            <div class="col-sm-12 col-md-4 text-center">
              <div class="probootstrap-service-item">
                <%= image_tag "ENTRAINEMENT.jpg", alt: "Image Entrainement"%>
                <h2>Entraînements</h2>
                <p>"Vous avez un accès illimité à plus de 75 entraînements.
                  Créez un planning d'entraînement personnalisé pour votre cheval
                  Plusieurs catégories à votre disposition (entrainement à pied, sur le plat , sur les barres, en extérieur)
                  A la fin de votre séance, évaluez-vous et notez vos commentaires
                Retrouvez l'historique de vos séances dans l'agenda </p>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
              <div class="probootstrap-service-item">
                <%= image_tag "RECHERCHER.jpg", alt: "Image Recherche"%>
                <h2>Autour de moi</h2>
                <p>Trouvez des professionnels autour de vous et partout en France grâce à un système de recherche simplifié.
                Professionnels de santé: Vétérinaires Equins, Dentistes Equins, Maréchaux-ferrants mais aussi des selleries, des centres équestres agrées FFE ou encore des éleveurs de chevaux ou poneys.  </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 text-center">
              <div class="probootstrap-service-item">
                <%= image_tag "RANDONNEE.jpg", alt: "Image Randonnée"%>
                <h2>Randonnées</h2>
                <p>Selectionnez votre cheval et commencez la randonnée
                L'appli enregistre la distance, la durée et la vitesse moyenne de votre circuit. Vous pourrez prendre des photos tout au long de votre ballade, et elles pourront être géolocalisées.</p>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
              <div class="probootstrap-service-item">
                <%= image_tag "Icone Actu.jpg", alt: "Image Actualités"%>
                <h2>Actualités</h2>
                <p>Vous pourrez découvrir l'actualité équine chaque jour, et filtrer selon vos interêts.</p>
              </div>
            </div>
          </div>
        </section>

        <section class="probootstrap-section probootstrap-bg-light" id="features" data-section="features">
          <div class="container">
            <div class="row text-center mb100">
              <div class="col-sm-12 col-md-8 col-md-offset-2 probootstrap-section-heading">
                <h2 class="mb30 text-black probootstrap-heading">Fonctionnalités</h2>
                <p>Notre app est destinée aux amoureux des chevaux de tous niveaux et est adaptée aux besoins de chacun. Voyez ci-dessous quelques fonctionnalités d'EKWO.</p>
              </div>
            </div>
            <!-- END row -->
            <div class="row mb100">
              <div class="col-sm-12 col-md-8 col-md-pull-1 col-lg-8 col-lg-pull-2 probootstrap-animate fadeInUp probootstrap-animated">
                <p><%= image_tag "agenda.PNG", alt: "screenshot agenda", class: "img-responsive probootstrap-shadow"%></p>
              </div>
              <div class="col-sm-12 col-md-4 col-md-pull-1 probootstrap-section-heading">
                <h3 class="text-primary probootstrap-heading-2">Calendrier</h3>
                <p>Calendrier collaboratif pour prendre soin au quotidien de son/ses chevaux</p>
                <ul class="probootstrap-list">

                  <li class="probootstrap-check">Possibilité de partager l'agenda personnalisé du cheval avec un ou plusieurs utilisateurs d'EKWO</li>
                  <li class="probootstrap-check"> Mise à jour en temps réel pour suivre votre cheval à plusieurs </li>
                  <li class="probootstrap-check">Planifierz à votre gré pour le bien-être de votre cheval (randonnées, entraînements, soins, notes perso...)</li>
                  <li class="probootstrap-check">Laissez-vous surprendre par EKWO et les diverses alertes qu'elle pourra vous envoyer </li>
                  <li class="probootstrap-check">N'oubliez plus jamais vos soins</li>
                  <li class="probootstrap-check">Planifiez tous vos entraînements (ainsi que leur type) à l'avance</li>
                  <li class="probootstrap-check">Ecrivez-vous des notes pour ne rien oublier</li>
                </ul>
              </div>
            </div>
            <!-- END row -->
            <div class="row mb100">
              <!-- <div class="col-md-8 col-md-pull-2"> -->
                <div class="ccol-sm-11 col-md-8 col-lg-8 col-md-push-5 col-lg-push-6 probootstrap-animate fadeInUp probootstrap-animated">
                  <p><%= image_tag "02_Ekwo_ActuListe.jpg", alt: "screenshot actualité", class: "img-responsive probootstrap-shadow"%></p>
                </div>
                <!-- <div class="col-md-4 col-md-pull-1"> -->
                  <div class="col-sm-12 col-md-4 col-md-pull-8 probootstrap-section-heading">
                    <h3 class="text-primary probootstrap-heading-2">Actualités</h3>
                    <p>Vous pourrez découvrir l'actualité équine chaque jour, et filtrer selon vos interêts</p>
                    <ul class="probootstrap-list">
                      <li class="probootstrap-check">Elevage</li>
                      <li class="probootstrap-check">Santé</li>
                      <li class="probootstrap-check">Législation</li>
                      <li class="probootstrap-check">Ethnologie</li>
                      <li class="probootstrap-check">CSO</li>
                      <li class="probootstrap-check">Dressage</li>
                      <li class="probootstrap-check">Concours Complet</li>
                      <li class="probootstrap-check">Voltige</li>
                      <li class="probootstrap-check">Nouveautés (matériels)</li>
                    </ul>
                  </div>
                </div>
                <!-- END row -->

                <div class="row mb100">
                  <div class="col-sm-12 col-md-8 col-md-pull-1 col-lg-8 col-lg-pull-2 probootstrap-animate fadeInUp probootstrap-animated">
                    <p><%= image_tag "26_Ekwo_Rando.jpg", alt: "screenshot rando", class: "img-responsive probootstrap-shadow"%></p>
                  </div>
                  <div class="col-md-4 col-md-pull-1 probootstrap-section-heading">
                    <h3 class="text-primary probootstrap-heading-2">Randonnée</h3>
                    <p>Choisissez le cheval avec qui vous faites la randonée, et trackez le parcous, prenez des photos tout au long de la ballade, et voyez le résumé de votre séance</p>
                    <ul class="probootstrap-list">
                      <li class="probootstrap-check">Trace votre parcours</li>
                      <li class="probootstrap-check">Vous donne votre vitesse moyenne, la durée de votre parcours ainsi que la distance parcourue</li>
                      <li class="probootstrap-check">Vos photos sont géolocalisées</li>
                    </ul>
                  </div>
                </div>
                <!-- END row -->
                <div class="row mb100">
                  <!-- <div class="col-md-8 col-md-pull-2"> -->
                    <div class="col-sm-11 col-md-8 col-lg-8 col-md-push-5 col-lg-push-6 probootstrap-animate fadeInUp probootstrap-animated">
                      <p><%= image_tag "30_Ekwo_TrainingListe.jpg", alt: "screenshot entrainement", class: "img-responsive probootstrap-shadow"%></p>
                    </div>
                    <!-- <div class="col-md-4 col-md-pull-1"> -->
                      <div class="col-sm-12 col-md-4 col-md-pull-8 probootstrap-section-heading">
                        <h3 class="text-primary probootstrap-heading-2">Entraînements</h3>
                        <p>Choisissez votre entraînement parmis diverses catégories et selon votre niveau</p>
                        <ul class="probootstrap-list">
                          <li class="probootstrap-check">Categories: Entraînement à pied (Longues rennes, Longe ou éthologie), sur le plat, sur les barres ou en exterieur</li>
                          <li class="probootstrap-check">Choisissez votre niveau de difficulté (1 à 3/3)</li>
                          <li class="probootstrap-check">Regardez la timeline (temps de préparation, mise en place, échauffement, récupération et soins)</li>
                          <li class="probootstrap-check">Voyez le materiel requis pour chaque entraînement</li>
                          <li class="probootstrap-check">Notez votre séance à la fin de celle-ci et ajoutez un commentaire</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
                <!-- END section -->

                <section class="probootstrap-section" data-section="pricing">
                  <div class="container">
                    <div class="row text-center mb100">
                      <div class="col-sm-12 col-md-8 col-md-offset-2 probootstrap-section-heading">
                        <h2 class="mb30 text-black probootstrap-heading">Choisissez la formule qui vous convient le mieux </h2>
                        <p>EKWO est une application gratuite. Néanmoins, vous avez la possibilité de débloquer ses fonctions avancées pour optimiser son utilisation:</p>
                        <ul class="probootstrap-list text-left mb50">
                          <li class="probootstrap-check">Partager votre/vos chevaux grâce à un QR code</li>

                          <li class="probootstrap-check">Accès illimité aux entrainements (planification & enregistrement pour le suivi du travail du cheval dans l'agenda)</li>
                          <li class="probootstrap-check">Sauvegarde de vos photos et de tout vos tracés de ballades.</li>
                        </ul>
                      </div>
                    </div>
                    <!-- END row -->
                    <div class="row">
                      <div class="col-sm-12 col-md-4">
                        <div class="probootstrap-pricing">
                          <h2>Simple</h2>
                          <h2>Un seul propriétaire</h2>
                          <p class="probootstrap-price"><strong>5.99€</strong></p>
                          <p class="probootstrap-note">Ceci un abonnement mensuel</p>
                          <ul class="probootstrap-list text-left mb50">
                            <li class="probootstrap-check">Permet de gérer jusqu'à 5 chevaux</li>
                            <li class="probootstrap-check">Débloquez tout les entraînements et ayez y accès en illimité</li>
                            <li class="probootstrap-check">Sauvegarde des tracées GPS de ballades et des photos</li>
                            <li class="probootstrap-check">Fonction partage disponible (jsuqu'a 5 partages)</li>
                            <li class="probootstrap-check">Et encore plus d'autres fonctionnalités</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-4">
                        <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
                          <h2>Demi-pensionnaires</h2>
                          <h2>Multipropriétaires</h2>
                          <p class="probootstrap-price"><strong>2.99€</strong></p>
                          <p class="probootstrap-note">Ceci un abonnement mensuel</p>
                          <ul class="probootstrap-list text-left mb50">
                            <li class="probootstrap-check"><li class="probootstrap-check">Vous êtes multipropriétaire ou demi-pensionnaire et souhaitez participer au travail et à l'évolution du cheval. Souscrivez à cet abonnement pour recevoir le QR code du cheval. </li>
                            <li class="probootstrap-check">Obtenez un accès illimité à son planning et soyez également acteur de son quotidien</li>
                            <li class="probootstrap-check">Gérez jusqu'à 5 chevaux partagés</li>
                            <li class="probootstrap-check">Vous aurez également accès aux autres fonctionnalités de l'abonnement "simple"</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-4">
                        <div class="probootstrap-pricing ">
                          <h2>Famille</h2>
                          <h2>Plusieurs membres</h2>
                          <p class="probootstrap-price"><strong>9.99€</strong></p>
                          <p class="probootstrap-note">Ceci un abonnement mensuel</p>
                          <ul class="probootstrap-list text-left mb50">
                            <li class="probootstrap-check">Permet de partager avec tous les membres de la famille grâce à un code QR</li>
                            <li class="probootstrap-check">Permet d'ajouter un ou plusieurs cheveaux et de les gérer quotidiennement <strong>en famille</strong></li>
                            <li class="probootstrap-check">Accès illimité <strong>pour toute la famille</strong> à l'agenda interactif et à des entrainements spécialisés conçus pour vous selon votre niveau</li>
                            <li class="probootstrap-check">Et encore plus d'autres fonctionnalités à partager en famille</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <!-- END section -->


                <section class="probootstrap-section probootstrap-cta">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
                        <h2 class="probootstrap-heading">Rejoignez notre réseau de passionnés d'équitation</h2>
                        <p class="probootstrap-sub-heading">Téléchargez EKWO, parce que vous avez tant à partager avec votre cheval. <br>Créez votre profil, enregistrez vos chevaux et commencez l'expérience</p>
                        <div class="AppStore">
                          <a href="http://appstore.com/ekwo" target="_blank"><%= image_tag "appstore.png", height: 75, width: 200, alt: "appstore"%></a>
                        </div>
                        <div class="GoogleStore">
                          <a href="https://play.google.com/store/apps/details?id=com.DigitalePourpre.ekwo" target="_blank"><%= image_tag "googleplay.png", height: 75, width: 200, alt: "Google Play"%></a>
                        </div>

                      </div>
                    </div>
                  </div>
                </section>
    <!-- <section class"probootstrap-section probootstrap-cta">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2 class="probootstrap-heading">Join With Over 100K Members</h2>
            <p class="probootstrap-sub-heading">But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>

          </div>
        </div>
      </div>
    </section> -->
    <!-- END section -->
    <section class="probootstrap-section probootstrap-bg-light" data-section="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <form action="demandes-contact.php" class="probootstrap-form">
              <h2 class="text-black mt0">Contactez Nous</h2>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Votre Nom">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Votre emaill">
              </div>
              <div class="form-group">
                <input type="phone" class="form-control" placeholder="Votre numéro de téléphone">
              </div>
              <div class="form-group">
                <textarea class="form-control" cols="30" rows="10" placeholder="Votre message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary btn-green" value="Envoyer">
              </div>
            </form>
          </div>
          <div class="col-sm-12 col-md-3 col-md-push-1">
            <ul class="probootstrap-contact-details">
              <li>
                <span class="text-uppercase">Reseaux sociaux</span>
                <p class="probootstrap-social"><a target="_blank" href="https://www.facebook.com/Ekwo-433542957026834/?ref=br_rs"><i class="icon-facebook2"></i></a> <a target="_blank" href="https://twitter.com/DGPourpre"><i class="icon-twitter2"></i></a><a target="_blank" href="https://www.instagram.com/ekwo_app_au_galop/"><i class="icon-instagram2"></i></a></p>
              </li>
              <li>
                <span class="text-uppercase">email</span>
                <a href="mailto:info@dgpourpre.fr"><i class="fa fa-envelope-o pr-10"></i> info@dgpourpre.fr</a>
              </li>
              <li>
                <span class="text-uppercase">Addresse</span>
                744 route du Mas Rillier <br>
                01390 TRAMOYES <br>
                FRANCE
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>


    <footer class="probootstrap-footer">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <p class="probootstrap-social"><a target="_blank" href="https://www.facebook.com/Ekwo-433542957026834/?ref=br_rs"><i class="icon-facebook2"></i></a> <a target="_blank" href="https://twitter.com/DGPourpre"><i class="icon-twitter2"></i></a><a target="_blank" href="https://www.instagram.com/ekwo_app_au_galop/"><i class="icon-instagram2"></i></a></p>
          </div>
        </div>
      </div>
    </footer>


    <script src="js/scripts.min.js"></script>
    <script src="js/custom.js"></script>


  </body>
  </html>
